<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>챌린지 글 작성</title>
</head>
<body>
<div class="container mt-5">
    <h1>작성 페이지</h1>
    <p>제목, 태그, 내용은 필수 항목입니다. 태그 ex) 기타, 꿀팁</p>
    <form id="articleForm" enctype="multipart/form-data">
        <div class="form-group">
            <label for="title">제목:</label>
            <input type="text" id="title" name="title" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="tags">태그:</label>
            <select id="tags" name="tags" class="form-control" required>
                <option value="기타">기타</option>
                <option value="오운완">오운완</option>
                <option value="식단">식단</option>
                <option value="공지사항" th:if="${#authentication.principal.username == 'admin'}">공지사항</option>
            </select>
        </div>

        <div class="form-group">
            <label for="content">내용:</label>
            <textarea id="content" name="content" rows="5" cols="40" class="form-control" required></textarea>
        </div>

        <div class="form-group">
            <p>사진을 여러 개 올리고 싶으시면 한 번에 다 선택해 주세요!</p>
            <label for="images">사진 첨부:</label>
            <input type="file" id="images" name="images" accept="image/*" multiple class="form-control-file">
        </div>

        <button type="submit" class="btn btn-primary">글 작성</button>
    </form>

    <button onclick="logout()" class="btn btn-secondary">로그아웃</button>
    <button onclick="main()" class="btn btn-secondary">메인페이지</button>
    <button onclick="goToChallenge()" class="btn btn-secondary">챌린지 게시판</button>
</div>

<!-- 부트스트랩 JavaScript 및 jQuery 스크립트 추가 -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    function logout() {
        document.cookie = "jwtToken=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        // 로그아웃 후 메인 페이지로 리다이렉트합니다.
        window.location.href = "/main";
    }
    function main() {
        // 메인 페이지로 이동
        window.location.href = "/main/auth";
    }
    function goToChallenge() {
        // 다이어트 게시판 페이지로 이동
        window.location.href = "/challenge/pages";
    }

    // ...

    const articleForm = document.getElementById("articleForm");
    articleForm.addEventListener("submit", async (event) => {
        event.preventDefault();

        const title = document.getElementById("title").value;
        const tags = document.getElementById("tags").value;
        const content = document.getElementById("content").value;

        const articleData = {
            title: title,
            tag: tags,
            content: content,
        };

        const response = await fetch("/challenge/write", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(articleData),
        });

        const id = await response.text();

        if (response.ok) {

            // 파일 업로드를 위한 FormData 객체 생성
            const formData = new FormData();
            const imageInput = document.getElementById("images");
            const selectedImages = imageInput.files;
            for (const image of selectedImages) {
                formData.append("images", image);
            }

            try {
                const responseImage = await fetch("/challenge/postImages/" + id, {
                    method: "POST",
                    body: formData,
                });

                const imageUploadResult = await responseImage.text(); // 이미지 업로드 응답 텍스트 가져오기

                if (responseImage.ok) {
                    console.log(imageUploadResult);
                } else {
                    console.error("이미지 업로드 실패");
                }
            } catch (error) {
                console.error("이미지 업로드 중 오류 발생", error);
            }

            console.log("글 작성 성공");
            alert("글 작성이 성공하였습니다.");
            window.location.href = "/challenge/pages";

        } else {
            console.error("글 작성 실패");
            alert("글 작성에 실패하였습니다.");
        }
    });
</script>
</body>
</html>