<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,400;0,500;0,600;0,700;1,500;1,600&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <title>WebSocket Chatting</title>
</head>
<body>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <h1>WebSocket Chatting</h1>
      <button id="connect" class="btn btn-primary" onclick="loadRooms()">방 찾기</button>
      <br><br>
      <div class="input-group">
        <input type="text" id="room-name" class="form-control" placeholder="Create Room">
        <div class="input-group-append">
          <button id="create" class="btn btn-success" onclick="createRoom()">생성</button>
        </div>
      </div>
      <input type='hidden' th:value="${#authentication.principal.username}" id='currentUsername'>
    </div>
    <div class="col-md-6">
      <div class="list-group" id="room-list">
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script type="text/javascript">
  async function loadRooms(){
    const currentUsername = document.getElementById("currentUsername").value;
    const chatRooms = await (await fetch("/chat/rooms")).json();
    const roomDiv = document.getElementById("room-list");
    roomDiv.innerText = "";
    chatRooms.forEach((chatRoom) => {
      console.log(chatRoom);
      const newRoom = document.createElement("div");

      newRoom.innerHTML = `
        <a href="/chat/${chatRoom.id}/${currentUsername}">${chatRoom.roomName}</a> `;
      if (currentUsername === 'admin'){
        newRoom.innerHTML += `<button onclick="deleteRoom(${chatRoom.id})">Delete</button>`;
      }
      roomDiv.appendChild(newRoom);
    });
  }

  async function createRoom() {
    const currentUsername = document.getElementById("currentUsername").value;
    const roomName = document.getElementById("room-name").value;
    const response = await (await fetch(`/chat/rooms`, {
      method: "POST",
      headers: {
        "content-type": "application/json"
      },
      body: JSON.stringify({
        roomName
      })
    })).json();
    const roomId = response.id;
    window.location.href = `/chat/${roomId}/${currentUsername}`;
  }

  async function deleteRoom(roomId) {
    const response = await fetch(`/chat/rooms/${roomId}/name`, {
      method: "DELETE",
      headers: {
        "content-type": "application/json"
      }
    });

    if (response.ok) {
      // Room deleted successfully, update the room list
      loadRooms();
    } else {
      // Handle error
      console.error("Failed to delete room.");
    }
  }
</script>
</body>
</html>
