<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,400;0,500;0,600;0,700;1,500;1,600&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <header class="header">
        <div class="flex">
            <h1 class="main_title">ControlFit</h1>
            <h3 class="content_title">|&nbsp;&nbsp;<a href="javascript: goToHealthMain();">헬스 정보 게시판</a></h3>
            <h3 class="content_title">|&nbsp;&nbsp;<a href="javascript: goToRental();">헬스 용품 대여</a></h3>
            <h3 class="content_title">|&nbsp;&nbsp;<a href="javascript: goToCommunity();">커뮤니티</a></h3>
            <h3 class="content_title">|&nbsp;&nbsp;<a href="javascript: goToGym();">헬스장 정보</a></h3>
        </div>

        <div class="button_wrapper flex">
            <a href="javascript: logout();"><button class="auth_button login_button">LOGOUT</button></a>
            <a href="javascript: goToProfile();"><button class="auth_button profile_button">PROFILE</button></a>
        </div>
    </header>

    <div class="content flex">
        <div class="img_section flex hidden">
            <div>
                <img class="content_img" src="/static/1.jpeg" alt="">
            </div>

            <div class="flex-col">
                <img class="content_img_2" src="/static/2.jpg" alt="">
                <img class="content_img_3" src="/static/3.jpeg" alt="">
            </div>
        </div>
        <div class="text_section_wrapper">
            <div class="text_section_wrapper">
                <div class="text_section">
                    <h3 class="pb-5">헬스장 정보</h3>
                    <span>주변 헬스장과 그 헬스장에 등록된 트레이너의 평점 후기를 보고 남길 수 있다.
              </span>
                </div>
                <div class="text_section">
                    <h3 class="pb-5 mt-20" >운동 정보 공유</h3>
                    <span>
                    유저 간 정보 공유를 통해 추천을 남기고 레벨을 부여해서 정보의 질 향상
                </span>
                </div>
                <div class="text_section_3">
                    <h3 class="pb-5 mt-20" >물품 대여</h3>
                    <span>유저 간 물품 대여</span>
                </div>
            </div>
        </div>
    </div>

    <footer></footer>
</div>
</body>
<script>
    function goToRental(){
        window.location.href = "/rental";
    }

    function logout() {
        // 쿠키에서 토큰 삭제
        document.cookie = "jwtToken=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        // 로그아웃 후 메인 페이지로 리다이렉트
        window.location.href = "/main";
    }

    function goToProfile(){
        window.location.href = "/main/profile";
    }

    function goToGym(){
        window.location.href = "/gym/main";
    }

    function goToHealthMain() {
        window.location.href = "/healthInform";
    }
    function goToCommunity() {
        window.location.href = "/community";
    }

    document.addEventListener("DOMContentLoaded", function () {
        fetch("/main/refresh-token", {
            method: "POST",
            headers: {
                "Content-Type": "application/json;charset=UTF-8",
            },
            credentials: "same-origin", // 쿠키를 보내도록 설정
        })
            .then(function (response) {
                if (response.status === 200) {
                    return response.text();
                } else {
                    throw new Error("토큰 갱신에 실패했습니다.");
                }
            })
            .then(function (newToken) {
                var shouldExtend = confirm("로그인을 연장하시겠습니까?");
                if (shouldExtend) {
                    var expires = new Date();
                    expires.setDate(expires.getDate() + 7);
                    document.cookie = "jwtToken=" + newToken + "; expires=" + expires.toUTCString() + "; path=/";
                    alert("로그인 연장 완료");
                } else {
                    logout();
                }
            })
            .catch(function (error) {
                console.error("오류 발생: " + error.message);
            });
    });

</script>
</html>