<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>인증된 페이지</title>
</head>
<body>
<h1>인증된 페이지</h1>
<p>이 페이지는 인증된 사용자만 접근할 수 있습니다.</p> <button onclick="logout()">로그아웃</button><br><br>

<button onclick="goToHealthMain()">헬스정보게시판</button>
<button onclick="goToCommunity()">커뮤니티</button>
<button onclick="goToGym()">헬스장 정보</button>

<script>
    function logout() {
        // 쿠키에서 토큰 삭제
        document.cookie = "jwtToken=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        // 로그아웃 후 메인 페이지로 리다이렉트
        window.location.href = "/main";
    }

    function goToGym(){
        window.location.href = "/gym/main";
    }

    function goToHealthMain() {
        window.location.href = "/healthInform";
    }
    function goToCommunity() {
        window.location.href = "/community";
    }

    document.addEventListener("DOMContentLoaded", function () {
        fetch("/main/refresh-token", {
            method: "POST",
            headers: {
                "Content-Type": "application/json;charset=UTF-8",
            },
            credentials: "same-origin", // 쿠키를 보내도록 설정
        })
            .then(function (response) {
                if (response.status === 200) {
                    return response.text();
                } else {
                    throw new Error("토큰 갱신에 실패했습니다.");
                }
            })
            .then(function (newToken) {
                var shouldExtend = confirm("로그인을 연장하시겠습니까?");
                if (shouldExtend) {
                    var expires = new Date();
                    expires.setDate(expires.getDate() + 7);
                    document.cookie = "jwtToken=" + newToken + "; expires=" + expires.toUTCString() + "; path=/";
                    alert("로그인 연장 완료");
                } else {
                    logout();
                }
            })
            .catch(function (error) {
                console.error("오류 발생: " + error.message);
            });
    });

</script>
</body>
</html>
