<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>운동 정보 사이트</title>
  <link rel="stylesheet" href="/static/sign-up.css">
</head>
<body>
<div class="container">
  <div class="forms-container">
    <div class="form-control signin-form">
      <form action="#" id="signup-form">
        <h2>회원가입</h2>
        <div class="flex">
          <input class="id" id="username" type="text" placeholder="아이디" required />
          <input class="email" id="email" type="email" placeholder="이메일" required />
        </div>
        <input type="password" id="password" placeholder="비밀번호" required />
        <input type="password" id="passwordCheck" placeholder="비밀번호 재입력" required />
        <input type="text" id="nickname" placeholder="닉네임" required />
        <input type="text" id="address" placeholder="주소" required />
        <input type="text" id="profile_img" placeholder="프로필 이미지" required />
        <input type="text" id="phone" placeholder="전화번호" required />
        <input type="text" id="birth" placeholder="생년원일" required />
        <input type="text" id="gender" placeholder="성별" required />
        <input type="text" id="identityCode" placeholder="헬스장 고유번호" required />

        <button style="margin-top: 20px;">회원가입</button>
      </form>
    </div>
  </div>
  <div class="intros-container">
    <div class="intro-control signin-intro">
      <div class="intro-control__inner">
        <img class="login_img" src="/static/5.jpg" alt="">
      </div>
    </div>
  </div>
</body>
<script>
  function goToMainPage() {
    window.location.href = "/main";
  }

  function goToLoginPage() {
    window.location.href = "/main/login";
  }

  document.getElementById('signup-form').addEventListener('submit', function (event) {
    event.preventDefault();

    var formData = {
      username: document.getElementById('username').value,
      password: document.getElementById('password').value,
      passwordCheck: document.getElementById('passwordCheck').value,
      email: document.getElementById('email').value,
      nickname: document.getElementById('nickname').value,
      address: document.getElementById('address').value,
      profile_img: document.getElementById('profile_img').value,
      phone: document.getElementById('phone').value,
      birth: document.getElementById('birth').value,
      gender: document.getElementById('gender').value,
      identityCode: document.getElementById('identityCode').value
    };

    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/main/sign-up", true);
    xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    xhr.onreadystatechange = function () {
      if (xhr.readyState === XMLHttpRequest.DONE) {
        if (xhr.status === 200) {
          // 회원 가입 성공
          alert("회원 가입이 완료되었습니다. 로그인 페이지로 이동합니다.");
          goToLoginPage();
        } else {
          // 회원 가입 실패
          alert("회원 가입에 실패했습니다. 다시 시도해주세요.");
        }
      }
    };
    xhr.send(JSON.stringify(formData));
  });
</script>
</html>
